body {
    margin: 0px;
    padding: 20px;
    height: 95vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    background-color: rgb(18, 37, 199);
    color: white;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

canvas {
    background-color: white;
    border-radius: 10px;
}

h1 {
    margin: 0;
    text-decoration: underline;
}

#ui {
    height: 93%;
    width: 60%;
    background-color: rgb(29, 40, 88);
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

#head {
    display: flex;
    flex-direction: rows;
    gap: 10px;
}

#score {
    width: 100%;
    text-align: center;
}

#score, #buttons, #alerts {
    background-color: rgb(18, 37, 199);
    padding: 40px;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}

button, input {
    background-color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input {
    width: 60%;
    cursor: auto;
    transition: none;
}

button:hover:enabled {
    background-color: lightblue;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}

.tooltip button {
    width: 100%;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
}

.tooltip button:hover:disabled .tooltiptext {
    visibility: visible;
}

#alerts {
    display: none;
}

#res1, #res2, #res3 {
    color: rgb(155, 155, 155);
}